* {
    font-family: Arial, sans-serif;
    max-width: fit-content;
}

nav {
    display: flex;
    gap: 16px;
    font-weight: 900;
    align-items: center;

}
nav h2{
    color: #000080;
}
nav .links a{
    text-decoration: none;
    color: #111;
    cursor: pointer;
    background-color: skyblue;
    border-radius: 12px;
    justify-content:end;

}
.links a:hover{
    color: #111;
    background-color:deepskyblue;
    border-radius:12px ;
}
h1 {
    color: #000080;
    align-items: center;
}
.hero-text{
    color: #111;
    font-weight: bold;
    margin-bottom: 16px;
}

