* {
    font-family: Arial, sans-serif;
    max-width: fit-content;
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    align-items: center;
}
nav h2{
    color: #000080;
}
nav .links a{
    text-decoration: none;
    gap: 12px;
    color: #111;
}
.links a:hover{
    color: #111;
    background-color:deepskyblue;
    border-radius:12px ;
}